{% if page.podcast %}
<!-- <p><b>Вы можете прослушать эпизод подкаста на эту тему:</b></p> -->
<div class="article-post-podcast">
	<iframe src="{{ page.podcast }}" max-height="105px" width="100%" frameborder="0" scrolling="no"></iframe>
</div>
<ul class="subscribe-links-podcast">
    <!-- <li>
        <a href="" rel="external" data-link-type="subscribe" data-service="iTunes" class="subscribe-link-apple" target='_blank'><img src="/assets/images/podcast/Listen-on-Apple-Podcasts-badge@2.png" alt="Subscribe on Apple Podcasts"></a>
    </li>
    <li>
        <a href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy80OWVlNjg4Yy9wb2RjYXN0L3Jzcw==" rel="external" data-link-type="subscribe" data-service="Google" class="subscribe-link-google" target='_blank'><img src="/assets/images/podcast/Listen-on-Google-Podcasts-badge@2x.png" alt="Subscribe on Google Podcasts"></a>
    </li> -->
    <li>
        <a href="https://open.spotify.com/show/58ckZTCdyXGuDKQ109SmLk" rel="external" data-link-type="subscribe" data-service="Spotify" class="subscribe-link-spotify" target='_blank'><img src="/assets/images/podcast/Listen-on-Spotify-badge@2x.png" alt="Subscribe on Spotify"></a>
    </li>
</ul>
{% endif %}