<ul class="subscribe-links-podcast">
    <li>
        <a href="https://podcasts.apple.com/nz/podcast/%D0%BD%D0%B0-1-%D0%BB%D1%83%D1%87%D1%88%D0%B5/id1554605782" rel="external" data-link-type="subscribe" data-service="iTunes" class="subscribe-link-apple" target='_blank'><img src="/assets/images/podcast/Listen-on-Apple-Podcasts-badge@2.png" alt="Subscribe on Apple Podcasts"></a>
    </li>
    <li>
        <a href="https://open.spotify.com/show/58ckZTCdyXGuDKQ109SmLk" rel="external" data-link-type="subscribe" data-service="Spotify" class="subscribe-link-spotify" target='_blank'><img src="/assets/images/podcast/Listen-on-Spotify-badge@2x.png" alt="Subscribe on Spotify"></a>
    </li>
    <li>
        <a href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy80OWVlNjg4Yy9wb2RjYXN0L3Jzcw==" rel="external" data-link-type="subscribe" data-service="Google" class="subscribe-link-google" target='_blank'><img src="/assets/images/podcast/Listen-on-Google-Podcasts-badge@2x.png" alt="Subscribe on Google Podcasts"></a>
    </li>

</ul>