<!-- latest post -->
    {% assign latest_post = site.posts[0] %}
    <!-- <div class="col-md-6"> -->
    <div class="col-md-12" style="padding-top: 30px;">

      <div class="entry-header">
        <!-- Post Title -->
        <h2 class="posttitle h2"><a class="text-dark" href="{{site.baseurl}}{{latest_post.url}}">{{ latest_post.title }}</a></h2>
      </div>

          <div class="article-post">
            {{ latest_post.content }}
            <div>
              <!-- <small class="d-block text-muted">
                  В <span class="catlist">
                      {% for category in latest_post.categories %}
                      <a class="text-capitalize text-muted smoothscroll" href="{{site.baseurl}}/categories.html#{{ category | downcase }}">"{{ category }}"</a><span class="sep">, </span>
                      {% endfor %}
                      </span>
              </small> -->
              <small class="text-muted">
                  {{ latest_post.date | date: '%b %d, %Y' }},
              </small>
              <small class="text-muted" title="Estimated read time">
                {% assign words = latest_post.content | strip_html | number_of_words %}
                {% if words < 360 %}
                  1 мин
                {% else %}
                  {{ words | divided_by:180 }} мин
                {% endif %}
              </small>
            </div>
          </div>


    </div>